<div id="login_form">
<% form_tag do %>
	<fieldset>
		<legend>Please log in</legend>
		
		<div>
			<div style="width:100px"><label for="myid">Name:</label></div>
			<%= text_field_tag :myid, params[:myid] %>
		</div>
		<br />
		<div>
			<div style="width:100px"><label for="password">Password:</label></div>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<br />
		<div>
			<%= submit_tag "login" %>
		</div>
	</fieldset>
<%end%>
</div>
		