div > h1
{
	padding-top:10px;
	padding-bottom:10px;
}

#container
{
	min-width:450px;
	width:960px;
	margin:0 auto;
	overflow-y:auto;
}
#footer
{
	clear:both;
}
#bottom_container
{
	padding-left:10px;
	padding-right:10px;
}
#current_reservations
{
	border:1px solid gray;
	
}
#current_trips
{
	border:1px solid gray;
	margin-bottom:10px;
	margin-top:10px;
	
}
#top_container
{
	padding-top:20px;
	margin:0 auto;
	padding-left:40px;
	
	
}
#top_container li
{
}
.green_box 
{
	border:solid 4px green;
	width:188px;
}
.green_yellow_box
{
	border:solid 4px green;
	
	
}
.red_box
{
	border:solid 4px red;
}
.red_yellow_box
{
	border:solid 4px green;
	
}
#top_container img
{
	max-height:140px;
}
#top_container img.needs_attention
{
	border:none;
	height:20px;
}
#top_container ul li
{
	background-color:white;
}

#all_trips
{
	display:none;
	width:100%;
	margin:0 auto;
}
li a
{
	text-decoration:none;
}
#edit_comment
{
	display:none;
}
#left
{
float:left;
}
#right
{
float:right;
width:500px;
}
#right i
{
font-size:28px;
font-weight:bold;
}
#right img
{
width:100%;
}
#top
{
	border:solid 4px yellow;
	margin-bottom:5px;
}
#attention img
{
	border:none;
	height:24px;
	width:24px;
}

/*scaffold style */
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* TOOLTIP STYLES */
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
